/* ---------------   || FERRAMENTA VISUAL PARA DESENVOLVIMENTO || ---------------  */

/*

.HEADER-FLEXBOX     {border-style: solid; border-width: 1px; border-color: red;}

#DIVISAO-SUPERIOR   {border-style: solid; border-width: 1px; border-color: red;}
.FLEXBOX-02         {border-style: solid; border-width: 1px; border-color: red;}
.FLEXBOX-03         {border-style: solid; border-width: 1px; border-color: red;}

#DIVISAO-INFERIOR   {border-style: solid; border-width: 1px; border-color: red;}
.FLEXBOX-04         {border-style: solid; border-width: 1px; border-color: red;}
.FLEXBOX-04A        {border-style: solid; border-width: 1px; border-color: red;}
.FLEXBOX-04B        {border-style: solid; border-width: 1px; border-color: red;}
.FLEXBOX-04C        {border-style: solid; border-width: 1px; border-color: red;}

*/

/* ---------------   || FERRAMENTA VISUAL PARA DESENVOLVIMENTO || ---------------  */


/* INICIO CSS HEADER || ESTRUTURAL E VISUAL || */

header 
    {
      padding: 10px;
      background-color: white(240, 240, 240);
      border: 1px solid rgb(236, 236, 236);
      border-radius: 10px;

      align-content: safe;
    }

.HEADER-FLEXBOX
    {
      display: flex;                           /* Transforma a ||DIV HEADER-FLEXBOX|| em uma flexbox - TODAS AS FLEXBOX PRECISAM DESSA PROPRIEDADE */
      flex-direction: row;                    /* Define como os itens filhos se posicionam dentro da flexbox || Row (padrao) = Linha [EIXO X] Column = colunas [EIXO Y] || */
      flex-wrap: wrap;                       /* Permite ou nao a quebra de linha dos elementos filhos || nowrap (padrao) = NAO PERMITE ; WRAP = PERMITE || */
      justify-content: space-between;       /* Distribuicao dos itens filhos no eixo X dentro da flexbox */
      align-items: center;                 /* Distribuicao dos itens filhos no eixo Y dentro da flexbox */  
      
      padding: 10px;                      /* Margem interna || Evita que os itens fiquem enconstados nas bordas || */ 

      align-content: safe;
    }

#texto-header {text-align:center; justify-content: safe;}

#logotipo-FATEC {height: 100px; justify-content: safe;}

.txt-header-01 
    {
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 20px;

     align-content: safe;
     }

.txt-header-02 
    {
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 15px;
     font-style: italic;
     color: #8B8B8B;

     align-content: safe;
    }

    /* FINAL CSS HEADER || ESTRUTURAL E VISUAL || */

     /* INICIO DO CSS CORPO HTML || ESTRUTURAL E VISUAL || */

body 
    {
     margin-left: 50px; margin-right: 50px;
     min-height: 100vh;
     background-color: white;
     padding: 15px;
    }

#DIVISAO-SUPERIOR 
    {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: space-evenly; 
     padding: 5px;    
    }

#DIVISAO-SUPERIOR-VISUAL 
    {
     box-sizing: border-box;
     background: #FFFFFF;
     border: 1px solid rgb(236, 236, 236);
     border-radius: 10px;
     padding: 10px;
     align-content: safe;
    }

.FLEXBOX-02
    {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     flex-wrap: wrap;
     align-content: flex-start;
     align-content: safe;
     padding: 5px;
    }

.FLEXBOX-03
    {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     flex-wrap: wrap;
     align-content: flex-start;
     align-content: safe;
     padding: 5px;
    }

.FLEX-ITEM1 {align-self: center; align-content: safe;}
.FLEX-ITEM2 {align-self: center; align-content: safe;}
.FLEX-ITEM3 {align-self: center; align-content: safe;}

#DIVISAO-INFERIOR
    {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     flex-wrap: wrap;
     align-content: safe;
     padding: 5px;
    }

#DIVISAO-INFERIOR-VISUAL 
    {
     box-sizing: border-box;
     background: #FFFFFF;
     border: 1px solid rgb(236, 236, 236);
     border-radius: 10px;
     padding: 10px;
    }

.FLEXBOX-04
    {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     flex-grow: 0;
     align-content: safe;
    }

.FLEXBOX-04A
    {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     flex-grow: 2;
     padding-left: 10px;
     align-content: safe;
    }

.FLEXBOX-04B
    {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     flex-grow: 3;
     padding: 25px;
     align-content: safe;
    }

.FLEXBOX-04C
    {
        display: grid; /*testando com o grid para conseguir alinhar os botões - no flex não deu*/
        grid-template-columns: repeat(6, 1fr); /*definindo quantidade de colunas e tamanho delas (em frames)*/
        grid-template-rows: 1; /*definindo linhas (uma) - se não definir os botões ficam nas colunas com linhas geradas automaticamente*/
        flex-wrap: wrap; /*tentando deixar a permissão de quebra - no meu note não deu para reduzir mais ao ponto de ver*/
        flex-grow: 2;
        align-content: safe;
    }

    /* FINAL DO CSS CORPO HTML || ESTRUTURAL E VISUAL || */

    /* || CSS DETALHES E FORMATACAO || */

.textbox-nome 
    {
     box-sizing: border-box;
     border: 1px solid #D9D9D9;
     box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
     border-radius: 5px;
     width: 350px;
    }

.textbox-matricula 
    {
     box-sizing: border-box;
     border: 1px solid #D9D9D9;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 5px;
     width: 100px;
    }

.texto 
    {
      font-family: 'Times New Roman', Times, serif;
      font-size: 20px;
    }

#profclt 
    {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-decoration: underline;
    font-style: italic;
    color: #8B8B8B;
    }

.texto-opcao 
    {
     font-family: 'Times New Roman', Times, serif;
     font-size: 18px;
    }

.checkbox-cursos 
    {
     box-sizing: border-box;
     border: 1px solid #D9D9D9;
     box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
     border-radius: 5px;
    }

.datebox
    {
    box-sizing: border-box;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
   }

.selectbox
    {
    box-sizing: border-box;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 500px;  
   }

.caixacomentario
   {
    box-sizing: border-box;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    flex-grow: 5;
   }

.item-1 [type="file"]                    /*linkando a classe com o tipo de input*/
{
    display: none;                     /* o none "apaga" o input linkado a cima*/
}

.item-1 /*BOTÃO 01 - UPLOAD*/
{   
    grid-column-start: 1;          /*propriedade diz em qual coluna a div linkada a cima irá começar*/
    grid-column-end: 1;           /*propriedade diz em qual coluna a div linkada a cima irá terminar*/
    justify-self: flex-start;    /*vai alinhar o botão para o início, mesmo sendo display grid funciona o "flex"*/

    padding: 10px 5px;
    background-color: #872525;
    color:#FFFFFF;
    display: block;
    border-radius: 10px;
    width: 100px;
    height: auto;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    font-family: Arial, Helvetica, sans-serif;
}

.item-2 [type="submit"]
{
    display: none;
}

.item-2 /*BOTÃO 02 - VISUALIZAR*/
{
    grid-column-start: 2;
    grid-column-end: 2;
    justify-self: flex-start;


    padding: 10px 5px;
    background-color: #872525;
    color: #FFFFFF;
    display: block;
    border-radius: 10px;
    width: 100px;
    height: auto;
    text-align: center;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
  
}

.item-3 [type="submit"]
{
    display: none;
}

.item-3{ /*BOTÃO 03 - REPOSIÇÃO AULAS*/
    grid-column-start: 6;
    grid-column-end: 6;
    justify-self: flex-end;
    padding: 10px 5px;
    background-color: #872525;
    color: #FFFFFF;
    display: block;
    border-radius: 10px;
    width: 150px;
    height: auto;
    text-align: center;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}


.item-1:active /*active BOTAO-01  -  funciona quando se clica no botão   ||   no botão de upload não dá para ver direito, somente se clicar e segurar*/
{
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 3px 8px rgba(94, 94, 94, 0.5);
   
}
.item-2:active /*BOTÃO-02*/
{
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 3px 8px rgba(94, 94, 94, 0.5);
}

.item-3:active /*BOTÃO-03*/
{
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 3px 8px rgba(94, 94, 94, 0.5);
}